<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
   </head>
   <body>

     <div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>

	<form th:action="@{/registration}" th:object="${createEmailPassForm}"
		method="post">
		<table>
			<tr>
				<td>Email1</td>
				<td><input type="text" th:field="*{email1}" /></td>
				<td><span th:if="${#fields.hasErrors('email1')}"
					th:errors="*{email1}">..</span></td>
			</tr>
			<tr>
				<td>Email2</td>
				<td><input type="text" th:field="*{email2}" /></td>
				<td><span th:if="${#fields.hasErrors('email2')}"
					th:errors="*{email2}">..</span></td>
			</tr>
			<tr>
				<td>Password1</td>
				<td><input type="password" th:field="*{password1}" /></td>
				<td><span th:if="${#fields.hasErrors('password1')}"
					th:errors="*{password1}">..</span></td>
			</tr>
			<tr>
				<td>Password2</td>
				<td><input type="password" th:field="*{password2}" /></td>
				<td><span th:if="${#fields.hasErrors('password2')}"
					th:errors="*{password2}">..</span></td>
			</tr>
            <tr>
               <td>&nbsp;</td>
               <td>
                  <input type="submit" value="Submit" />
                  <a th:href="@{/}">Cancel</a>
               </td>
               <td>&nbsp;</td>
            </tr>
		</table>

	</form>
</body>
</html>