<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" method="post">
            <div><label> Email : <input type="text" name="email1"/> </label></div>
            <div><label> Email2 : <input type="text" name="email2"/> </label></div>
            <div><label> Password: <input type="password" name="password1"/> </label></div>
             <div><label> Password2: <input type="password" name="password2"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
</body>
</html>