<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Registration</title>

<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{webjars/font-awesome/5.11.2/css/all.css} " />
</head>
<body>

	<nav th:insert="/fragments/navbar"></nav>

	<div class="container">
		<form method="post" th:object="${createEmailPassForm}">

			<div class="form-group row">
				<div class="col-md-4 mt-5">
					<label for="birthdate">Email address</label>
					<div class="input-group">
						<input type="email" class="form-control" id="email1"
							autocomplete="off" th:field="*{email1}" />
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
						<div th:if="${#fields.hasErrors('email1')}" th:errors="*{email1}"></div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-4 mt-5">
					<label for="birthdate">Email address once again</label>
					<div class="input-group">
						<input type="email" class="form-control" id="email2"
							autocomplete="off" th:field="*{email2}" />
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
						<div th:if="${#fields.hasErrors('email2')}" th:errors="*{email2}"></div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-4 mt-5">
					<label for="password">Password</label>
					<div class="input-group">
						<input type="password" class="form-control" id="password1"
							autocomplete="off" th:field="*{password1}" />
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-eye-slash"
								aria-hidden="true"></i></span>
						</div>
						<div th:if="${#fields.hasErrors('password1')}"
							th:errors="*{password1}"></div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-4 mt-5">
					<label for="password">Password</label>
					<div class="input-group">
						<input type="password" class="form-control" id="password2"
							autocomplete="off" th:field="*{password2}" />
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-eye-slash"
								aria-hidden="true"></i></span>
						</div>
						<div th:if="${#fields.hasErrors('password2')}"
							th:errors="*{password2}"></div>
					</div>
				</div>
			</div>



			<button class="btn btn-primary" type="submit">Submit form</button>
			<a th:href="@{/home}">Cancel</a>
		</form>
	</div>


	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>