<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>HomeProfil</title>
<link rel="shortcut icon" href="/static/favicon.ico">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>



<body>
	<nav th:insert="/fragments/navbarForRegistrated"></nav>
	<div class="container">
		<div class="row">

			<div class="col-md-4 col-sm-12">
				<div class="panel panel-primary">
					<div class="panel-body">
 						<img th:src="@{/media/pictures/ProfileMainPhotos/}+${account.linkOnPhotoProfile}"
							class="img-responsive img-rounded" style="width: 100%;" />  
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-4  col-sm-6"
								th:each="item : ${account.pictures}">
								<a href="#"
									class="thumbnail"> <img
									th:src="@{/media/pictures/LibraryPhotos/small/}+${item.linkPicture}"
									alt="pic_lab">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Main info</h3>
					</div>
					<div class="panel-body">
						<span th:text="${account.nameForClub}"></span> <span
							th:text="${account.birthdate}"></span>
					</div>
					<div class="panel-body">
						<span th:text="${account.city}"></span>
					</div>
					<div class="panel-body">
						Toronto Church,<span th:text="${account.denomination}"></span>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Additional info</h3>
					</div>
					<div class="panel-body">
						<span th:text="${account.accountExtraInfo.aboutMe}"></span>
					</div>
					<div class="panel-body">
						<span th:text="${account.accountExtraInfo.aboutYou}"></span>
					</div>
				</div>
			</div>

			<div class="col-md-8 col-sm-12">

				<div class="col">
					<ul class="nav nav-tabs mt-5" id="myTabs">
						<li th:if="${account.activeWall.name()=='RELIGION_WALL'}"
							class="nav-item"><a th:href="@{/profile/home/0}" 
							class="nav-link active">My Faith</a></li>
						<li th:if="${account.activeWall.name()!='RELIGION_WALL'}"
							class="nav-item"><a th:href="@{/profile/home/0}"
							class="nav-link">My Faith</a></li>
						<li th:if="${account.activeWall.name()=='EVERYDAY_LIVE_WALL'}"
							class="nav-item"><a th:href="@{/profile/home/1}"
							class="nav-link active">My Life</a></li>
						<li th:if="${account.activeWall.name()!='EVERYDAY_LIVE_WALL'}"
							class="nav-item"><a th:href="@{/profile/home/1}"
							class="nav-link">My Life</a></li>
						<li th:if="${account.activeWall.name()=='MY_QUESTION_WALL'}"
							class="nav-item"><a th:href="@{/profile/home/2}"
							class="nav-link active">My Questions</a></li>
						<li th:if="${account.activeWall.name()!='MY_QUESTION_WALL'}"
							class="nav-item"><a th:href="@{/profile/home/2}"
							class="nav-link">My Questions</a></li>
							<li th:if="${account.activeWall.name()=='MY_ANSWER_WALL'}"
							class="nav-item"><a th:href="@{/profile/home/3}"
							class="nav-link active">My Answers</a></li>
						<li th:if="${account.activeWall.name()!='MY_ANSWER_WALL'}"
							class="nav-item"><a th:href="@{/profile/home/3}"
							class="nav-link">My Answers</a></li>
					</ul> 

					<div class="tab-content pt-3">
						<div th:if="${account.activeWall.name()=='RELIGION_WALL'}"
							class="tab-pane active" id="tab1">Active panel 1</div>
						<div th:if="${account.activeWall.name()!='RELIGION_WALL'}"
							id="tab1"></div>
						<div th:if="${account.activeWall.name()=='EVERYDAY_LIVE_WALL'}"
							class="tab-pane active" id="tab2">Active panel 2</div>
						<div th:if="${account.activeWall.name()!='EVERYDAY_LIVE_WALL'}"
							id="tab2"></div>
						<div th:if="${account.activeWall.name()=='MY_QUESTION_WALL'}"
							class="tab-pane active" id="tab3">Active panel 3</div>
						<div th:if="${account.activeWall.name()!='MY_QUESTION_WALL'}"
							id="tab3"></div>
							<div th:if="${account.activeWall.name()=='MY_ANSWER_WALL'}"
							class="tab-pane active" id="tab4">Active panel 4</div>
						<div th:if="${account.activeWall.name()!='MY_ANSWER_WALL'}"
							id="tab4"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>