

<div class="container">
	<div class="row">
		<div class="col-sm-10 mt-5">
			<form id="example-advanced-form" action="/profile/settings/mainInfo"
				method="post" th:object="${accountForm}">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Name for club</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="nameForClub"
							data-inputmask="'alias': 'nameForClub'" autocomplete="off"
							th:value="${account.nameForClub}"
							th:placeholder="${account.nameForClub}" name="nameForClub" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Your gender</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="gender"
							autocomplete="off"
							th:value="${account.gender}" th:placeholder="${account.gender}"
							name="gender" readonly />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Date of birth</label>
					<div class="col-sm-8 input-group date">
						<input type="text" class="form-control" id="birthdate"
							autocomplete="off" th:value="${account.birthdate}"
							th:placeholder="${account.birthdate}" name="birthdate" />
						<div class="input-group-append">
							<span class="input-group-text"><i
								class="far fa-calendar-alt"></i></span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="gendertype" class="col-sm-4 col-form-label">Country</label>
					<div class="col-sm-8">
						<select id="country" name="country">
							<option th:each="item : ${listCountry}"
								th:selected="${item.getName==account.country}"
								th:value="${item.getName}" th:text="${item}"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="city" class="col-sm-4 col-form-label">City</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="city"
							data-inputmask="'alias': 'city'" autocomplete="off"
							th:value="${account.city}" th:placeholder="${account.city}"
							name="city" />
					</div>
				</div>

				<div class="form-group row">
					<label for="gendertype" class="col-sm-4 col-form-label">Religion
						Denomination</label>
					<div class="col-sm-8">
						<select id="denomination" name="denomination">
							<option th:each="item : ${listDenomination}"
								th:selected="${item.getName==account.denomination}"
								th:value="${item.getName}" th:text="${item}"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Your real name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="realName"
							data-inputmask="'alias': 'realName'" autocomplete="off"
							name="realName" th:value="${account.accountExtraInfo.realName}"/>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Your real surname</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="realSurname"
							data-inputmask="'alias': 'realSurname'" autocomplete="off"
							name="realSurname"
							th:value="${account.accountExtraInfo.realSurname}"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="gendertype" class="col-sm-4 col-form-label">Education</label>
					<div class="col-sm-8">
						<select id="education" name="education">
							<option th:each="item : ${educationLevelList}"
								th:selected="${item.getName==account.accountExtraInfo.education}"
								th:value="${item.getName}" th:text="${item}"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Name your church</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="nameChurch"
							data-inputmask="'alias': 'nameChurch'" autocomplete="off"
							name="nameChurch"
							th:value="${account.accountExtraInfo.nameChurch}"/>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Amount of children</label>
					<div class="col-sm-8">
						<select id="amountChildren" name="amountChildren">
							<option th:each="item : ${ammountChildrenTypeList}"
								th:selected="${item.getName==account.accountExtraInfo.amountChildren}"
								th:value="${item.getName}" th:text="${item}"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">About Me</label>
					<div class="col-sm-8">
						<textarea id="aboutMe" class="form-control input-sm" rows="1"
							name="aboutMe" th:text="${account.accountExtraInfo.aboutMe}"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">About You</label>
					<div class="col-sm-8">
						<textarea id="aboutYou" class="form-control input-sm" rows="1"
							name="aboutYou" th:text="${account.accountExtraInfo.aboutYou}"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Your languages</label>
					<div class="col-sm-8">
						<select multiple="multiple" size="10" name="languages"
							id="languages" class="form-control">

							<option th:each="item : ${languages}"
								th:selected="${item.isChecked}" th:value="${item.languageType}"
								th:text="${item.languageType}"></option>

						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Your hobbies</label>
					<div class="col-sm-8">
						<select multiple="multiple" size="10" name="hobbies" id="hobbies"
							class="form-control">

							<option th:each="item : ${hobbies}"
								th:selected="${item.isChecked}" th:value="${item.hobbyType}"
								th:text="${item.hobbyType}"></option>

						</select>
					</div>
				</div>
				<div>
					<button class="btn btn-primary" type="submit">Make changes</button>
					<a th:href="@{/profile/home}">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
